<p>demo1 works!</p>
<h2>{{ titulo }}</h2>

<button (click)="procesar()">Procesar</button>

<span>Value: {{ n }}</span>

<!-- <div>
  <h1 [ngClass]="titulo_estilo"><b><samp>Título ng class</samp></b></h1>
  <h2>Demo</h2>
</div>

<div [ngStyle]="{'border': n > 5 ? 'solid brown' : ''}">
  <h1>
    <b><samp>Título ng class 1</samp></b>
  </h1>
</div>

<div>
  <h1 [ngClass]="titulo_estilo">
    <b><samp>Títilo ng class 2</samp></b>
  </h1>
</div> -->

<!-- @if(n > 11) {
  <h3>El número es mayor a 11</h3>
}

<ol>
  @for (item of data; track $index) {
    <li>{{ item }}</li>
  }
</ol>

@switch (tipo) {
  @case('A'){
    <h4>Caso A</h4>
  }
  @case('B'){
    <h4>Caso B</h4>
  }
} -->

<app-demo2></app-demo2>
<app-demo3 title = "Angular 19"></app-demo3>
