<div class="container">
  <h1>Reactive Forms Lesson</h1>
  <form [formGroup]="productForm" (submit)="saveProduct()">
  <!-- <form> -->
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        formControlName="title"
        id="title"
        class="form-control"
        placeholder="Register the title"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" formControlName="price"  class="form-control" id="price" placeholder="Register the price">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description"  id="description" rows="3" placeholder="Register the description"></textarea>
    </div>
    <div class="form-group">
      <label for="categoryId">Category</label>
      <select formControlName="categoryId" class="form-control" id="categoryId">
        @for(category of categories$ | async; track $index){
          <option value="{{ category.id }}">{{ category.name }}</option>
        }
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mr-2" title="Save Product">Save</button>
      <button type="button" class="btn btn-secondary" title="Cancel operation">Cancel</button>
    </div>
  </form>
</div>
<ngx-sonner-toaster richColors/>
